@import "../_shared/styles/common";

:host {
  display: block;
  background: $brand-primary;
  color: white;
  padding: 12px;
}

a {
  color: white;
}

.navbar {
  margin-bottom: 0;
  .nav {
    > li {
      > a {
        &:hover {
          background: none;
          text-decoration: underline;
        }
        &:focus {
          text-decoration: none;
          background-color: $brand-primary;
        }
      }
    }
  }
}

.nav-text {
  padding-left: 0;
}
