.modal-dialog {
  margin-top: 10%;
  width: 438px;
  color: #7f7f7f;
  &.personal-info {
    width: 509px;
    .modal-body {
      input {
        display: inline-block;
      }
      textarea {
        width: 336px;
        height: 96px;
        margin-bottom: 28px;
        border: 1px solid #ccc;
        outline: none;
        padding: 7px 11px;
      }
      span {
        margin-right: 15px;
      }
      span, textarea, input {
        float: right;
      }
      button {
        width: 336px;
        margin-left: 35px;
      }
    }
  }
  .modal-header {
    padding: 0;
    border-bottom: none;
    .close {
      font-size: 32px;
      padding-right: 17px;
      padding-top: 12px;
    }
  }
  .modal-body {
    padding: 0 50px 50px 50px;

    .form-group {
      margin: 0 0 15px 0;

      h3 {
        margin-top: 8px;
        text-align: center;
      }
      input {
        width: 336px;
        border-radius: 0;
      }
      &.action-button {
        margin-top: 28px;
      }
    }
    button {
      margin-bottom: 1em;
      outline: none;
      &.btn-muted {
        background-color: #e1e1e1;
        color: #ffffff;
      }
    }
  }
}
