@import "../_shared/styles/_common";

:host {
  display: block;
}

main {
  padding: 49px 0 70px 0;
  font-size: 12px;
  min-height: calc(100vh - 68px - 76px - 35px);
  background-color: #f2f6f8;
  h5 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  input[type=search] {
    margin-top: 18px;
    margin-bottom: 46px;
    border-radius: 0;
  }
  select {
    color: #d7d7d7;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 20px;
  }
}

.purchasing-confirm-dialog {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: grey;
}

.table-customized {
  color: #797979;
  margin-bottom: 4px;

  thead {
    th:first-child {
      padding-left: 60px;
      text-align: left;
    }
  }
  th, td {
    text-align: center;
    border-left: none;
    border-right: none;
  }
  td {
    text-align: center;
    vertical-align: middle;
    min-width: 80px;
    height: 8em;
    &.image-cell {
      padding-left: 32px;
    }
  }
  img {
    width: 80px;
  }
  .level-img {
    width: 30px;
  }
  tbody {
    cursor: pointer;

    .special-td {
      cursor: default;
    }
  }
  .image-container {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #f5f8f9;
  }
}
