<div class="modal-dialog top name-modifier">
  <div class="modal-content">
    <form class="form-horizontal" (ngSubmit)="submit()" #nameForm="ngForm">
      <div class="modal-header">
        <h2>
          请输入您在注册时留下的邮箱
        </h2>
      </div>
      <div class="modal-body">
        <div class="padding-v">
          <input #forgetpasswordmyemail type="email" class="form-control"
                 required
                 name="myemail"
                 [(ngModel)]="myemail"
                 aria-describedby="sizing-addon2">
        </div>
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <div class="alert alert-success" *ngIf="success">
          {{success}}
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cancelDialog()" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit"
                [disabled]="!nameForm.form.valid"
                class="btn btn-primary">确认
        </button>
      </div>
    </form>
  </div>
</div>
